

/* --- YOUR CODE STARTS HERE --- */
html,body {
    height: 100%;
}
body {
    margin: 0;
}
/*<-------------- START WRAPPERS ------------->*/
/*
set grid layout for wrapper,
make three rows and single column for header, main content and footer menu.
*/
.app {
    display: grid;
    height: 100%;
    grid-template-columns:1fr;
    grid-template-areas:
            "nav"
            "main"
            "footer";
    grid-template-rows: 40px 1fr 50px;
}
/*header wrapper*/
.app-header {
    grid-area: nav;
}
/* main content wrapper */
main {
    grid-area: main;
}
/* footer menu items wrapper */
.app-footer {
    grid-area: footer;
}
/*<-------------- END WRAPPERS ------------->*/

/*<-------------- START POST ITEM ------------->*/
/* set grid layout for inner components*/
.post-navbar,.post-heading,.post-actions,.post-details,.menu-items {
    display: grid;
}

.post-heading,.menu-items,.post-navbar {
    align-items: center;
}
/*
set header consistent height for chrome.
template three columns.
*/
.post-navbar {
    background-color:  #fafafa;
    height:40px;
    grid-template-columns: 10% 80% 10%;
    border-bottom: 1px solid #f2f2f2;
}

.back-btn .fa-angle-left {
    font-size: 30px;
}

.post-navbar .photo-heading {
    font-weight: bold;
}
/*fa refresh icon rotate to match design*/
.post-navbar .fa-repeat {
    font-size: 20px;
    transform: rotate(-50deg);
}

/*
make image use up entire container,
make main content one level deep, for overlap look of footer and header
*/
.post-photo img{
    width: 100%;
    z-index: 0;
    max-width: 100%;
    max-height: 100%;
}
.post-heading{
    height: 60px;
    grid-template-columns: 10% 80% 10%;
}

.user-post-brief {
    text-align: start;
}

.user-name-text {
    font-weight: bold;
    font-size: 14px;
}

.post-location {
    font-size: 12px;
}

.post-location .fa-angle-right {
    font-size: 10px;
}


.user-profile-picture img {
    height: 40px;
    border-radius: 50%;
}

.post-footer{
    margin-left: 10px;
}
/*
template columns for each action icon/button
*/
.post-actions {
    grid-template-columns: 10% 10% 10% 70%;
    margin-top: 10px;
    text-align: left;
}
.post-bookmark-btn {
    text-align: end ;
}

.post-details {
    text-align: start;
    margin-top: 15px;
}

.post-details .post-likes {
    font-size: 14px;
    font-weight: bold;
}

.post-likes {
        margin-bottom: 5px;
}

/*
scrollable main content wrapped in between header and footer
*/
main {
    overflow-y: scroll;
}
.post-caption-text  {
    font-size:  14px;
}
/*<-------------- END POST ITEM ------------->*/

/*<-------------- START FOOTER ------------->*/
.menu-items {
    height: 50px;
    background-color:#fafafa ;
    /*
    get footer menu items one level above main content
    */
    z-index: 1;
     /*
    menu items and icons
    */
    grid-template-columns: repeat(5,1fr);
}
/*
stylize currently not selected menu items
*/
.menu-items .fa-home,.menu-items .fa-plus-square-o,.menu-items .fa-heart-o,.menu-items .fa-user-o {
    opacity: 0.5;
}
/*<!-------------- END FOOTER ------------->*/
.tagged-user {
    text-decoration:none;
}




/* --- YOUR CODE ENDS HERE --- */
